<div class="poll">
    <div class="poll__container">
        <h3>Votações</h3>

        <div class="item">
            <div class="title">
                <p>Você compraria um tesla?</p>
            </div>
            <div class="buttons">
                <button class="btn btn-primary">sim</button>
                <button class="btn btn-danger">não</button>
            </div>
        </div>

        <div class="item">
            <div class="title">
                <p>Você compraria um tesla?</p>
            </div>
            <div class="buttons">
                <button class="btn btn-primary">sim</button>
                <button class="btn btn-danger">não</button>
            </div>
        </div>


        <div class="item">
            <div class="title">
                <p>Você compraria um tesla?</p>
            </div>
            <div class="buttons">
                <button class="btn btn-primary">sim</button>
                <button class="btn btn-danger">não</button>
            </div>
        </div>

        <div class="item">
            <div class="title">
                <p>Você compraria um tesla?</p>
            </div>
            <div class="buttons">
                <button class="btn btn-primary">sim</button>
                <button class="btn btn-danger">não</button>
            </div>
        </div>

        <div class="item">
            <div class="title">
                <p>Você compraria um tesla?</p>
            </div>
            <div class="buttons">
                <button class="btn btn-primary">sim</button>
                <button class="btn btn-danger">não</button>
            </div>
        </div>
    </div>
</div>