<div class="poll">
    <div class="poll__container">
        <h3>Votações</h3>

        <div class="input-group mb-3 headerBtns">
            <div>
                <button *ngIf="isAdmin" type="button" class="btn btn-success" (click)='newPoll()'>Criar votação</button>
            </div>

            <select class="form-select" (change)="setCategory($event)">
                <option value="">Todas</option>
                <option value="trabalho">Trabalho</option>
                <option value="familia">Familia</option>
                <option value="academia">Academia</option>
                <option value="outros">Outros</option>
              </select>
        </div>

        <div class="item" [ngStyle]="{ 'background-color': poll.expired ? 'lightgray' : 'ligthgray' }" *ngFor='let poll of polls'>
            <div class="title">
                <p> {{ poll.text }}</p>
            </div>
            <div class="buttons">
                <button [ngClass]="setClassBnt(poll, true)" (click)="responsePolls(poll, true)">sim</button>
                <button [ngClass]="setClassBnt(poll, false)" (click)="responsePolls(poll, false)">não</button>
            </div>
            <button *ngIf="isAdmin" class="btn btn-link btnViewMore" (click)="report(poll)">Relatorio</button>
        </div>
        <button *ngIf="viewMore" type="button" (click)="getPolls()" class="btn btn-link btnViewMore">Ver mais</button>
</div>